<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Index</title>

    <!-- Bootstrap core CSS -->
    <link
      href="css/cdn.jsdelivr.net_npm_bootstrap@5.1.3_dist_css_bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link href="css/carousel.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
    <link href="css/active-links.css" rel="stylesheet" />
    
  </head>
  <body>
    <% const currentPage = locals.currentPage || ''; %>
    <header>
      
      <%- include('header.ejs') %>
      
    </header>
    <!-- CARRUSEL, 3 FOTOS -->
    <main>
      <div id="carouselExample" class="carousel slide container-carrusel" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/logo1.jpeg" class="d-block w-100" alt="image1" />
          </div>
          <div class="carousel-item">
            <img
              src="img/niñosArcoirisConin.jpeg"
              class="d-block w-100"
              alt="image2"
            />
          </div>
          <div class="carousel-item">
            <img
              src="img/imagenCarrusel.webp"
              class="d-block w-100"
              alt="image3"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- ================================================== -->
      <!--CARDS DINAMICAS DE LA BASE DE DATOS -->

      <div class="container marketing">
        <h1 class="titulo">Recetas Saludables</h1>

        <div class="row row-cols-1 row-cols-md-3 g-4">
          
          <!--Aca las dinamicas trayendolas desde la base de datos-->
          <% recetasDB.forEach(function(receta) { %>
            <div class="col">
                <a
                  href="#"
                  class="card-link"
                  data-bs-receta-id="<%= receta.idRecetas %>"
                  data-bs-titulo="<%= receta.nombre %>"
                  data-bs-imagen="<%= receta.imagen_url %>"
                  data-bs-descripcion="<%= receta.tipo_receta %>"
                  data-bs-dificultad="<%= receta.dificultad_receta %>"
                  data-bs-tiempo="<%= receta.tiempo_coccion %>"
                  data-bs-ingredientes="<%= receta.ingredientes %>"
                  data-bs-instrucciones="<%= receta.instrucciones %>"
                  data-origin="base-de-datos"
                >
                  <div class="card h-100">
                    <img
                      src="<%= receta.imagen_url %>"
                      class="card-img-top"
                      alt="<%= receta.nombre %>"
                    />
                    <div class="card-body">
                      <h5 class="card-title"><%= receta.nombre %></h5>
                      <p class="card-text"><%= receta.tipo_receta %></p>
                    </div>
                </a>   
                <% if(user && user.rol === "admin") { %>
                    <button
                      class="btn btn-outline-danger eliminar-receta"
                      data-receta-id="<%= receta.idDB %>"
                      data-tabla="recetas_base_datos"
                    >
                      Eliminar Recetas
                    </button>
                <% } %>    
                  </div>
            </div>
          <% }); %>

           <!-- Loop para mostrar las recetas dinámicas agregadas desde el formulario -->
              <% recetasFormulario.forEach(function(receta) { %>
                <div class="col">
                    <a
                      href="#"
                      class="card-link"
                      data-bs-receta-id="<%= receta.idRecetas %>"
                      data-bs-titulo="<%= receta.nombre %>"
                      data-bs-imagen="/img/img-form/<%= receta.imagen %>"
                      data-bs-descripcion="<%= receta.tipo_receta %>"
                      data-bs-dificultad="<%= receta.dificultad_receta %>"
                      data-bs-tiempo="<%= receta.tiempo_coccion %>"
                      data-bs-ingredientes="<%= receta.ingredientes %>"
                      data-bs-instrucciones="<%= receta.instrucciones %>"
                      data-origin="formulario"
                    >
                      <div class="card h-100">
                        <img
                          src="/img/img-form/<%= receta.imagen %>"
                          class="card-img-top"
                          alt="<%= receta.nombre %>"
                        />
                        <div class="card-body">
                          <h5 class="card-title"><%= receta.nombre %></h5>
                          <p class="card-text"><%= receta.tipo_receta %></p>
                        </div>
                    </a>  
                    <% if(user && user.rol === "admin") { %>
                        <button
                          class="btn btn-outline-danger eliminar-receta"
                          data-receta-id="<%= receta.idRecetas %>"
                          data-tabla="recetas"
                        >
                          Eliminar Recetas
                        </button>
                        <% } %>
                      </div>
                </div>

              <% }); %>

              <!-- Contenedor para los resultados de búsqueda -->
              <div id="search-result"></div>
           
        </div>
      </div>

      <hr class="featurette-divider" />
      <!-- FOOTER -->
      <%- include('footer.ejs') %>
    </main>

    <!-- Modal reutilizable -->
    <div
      class="modal fade"
      id="recetaModal"
      tabindex="-1"
      aria-labelledby="recetaModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalRecetaTitulo"></h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img src="" id="modalRecetaImagen" class="img-fluid" alt="Receta" />
            <p id="modalRecetaTipoReceta"></p>
            <p id="modalRecetaDificultadReceta"></p>
            <p id="modalRecetaTiempoCoccion"></p>
            <p id="modalRecetaIngredientes"></p>
            <p id="modalRecetaInstrucciones"></p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-success"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>

</div>
</div>

    <!-- <script src="js/agregarReceta.js" ></script> -->
    <script src="js/modalDetalleRecetas.js"></script>
    <script src="js/busquedaRecetas.js"></script>
    <script src="js/eliminarRecetas.js"></script>
    <script src="js/cdn.jsdelivr.net_npm_bootstrap@5.1.3_dist_js_bootstrap.bundle.min.js"></script>
    <script src="js/resaltarLinks.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
  </body>
</html>
