<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Index</title>

    <!-- Bootstrap core CSS -->
    <link
      href="css/cdn.jsdelivr.net_npm_bootstrap@5.1.3_dist_css_bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      /* navbar {
    transition: all 0.5s;
  } */
      .col a {
        text-decoration: none;
        color: rgb(55 65 81 / var(--tw-text-opacity));
      }
      .titulo {
        text-align: center;
        font-family: Poppins;
        --tw-text-opacity: 1;
        color: rgb(0 0 0 / var(--tw-text-opacity));
        margin-bottom: 20px;
      }
      /* CSS para las dinamicas */
      .card-link {
      height: 100%; /* Establece una altura fija para las tarjetas dinámicas */
      }
      /* Estilos para el footer */
      .containerFooter {
        background-color: #972228;
        color: white;
        padding: 20px 0;
        text-align: center;
      }
      /* Estilos para los íconos sociales */
      .social a {
        color: white;
        font-size: 24px;
        margin: 0 10px;
        text-decoration: none; /* Quita la subrayado en los enlaces */
      }
      /* Estilos para el texto de derechos de autor */
      .containerFooter p {
        margin: 10px 0; /* Añade espacio arriba y abajo del texto de derechos de autor */
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-md navbar-dark fixed-top"
        style="background-color: #972228"
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <i class="bi bi-egg-fried">Conin - Comida Saludable</i>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"
                  >Recetas</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Trucos de cocina</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Consejos de salud</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/agregar-recetas">Ingresar recetas</a>
              </li>
            </ul>
            <!-- Para la busqueda de recetas -->
            <!-- 1-Agrega el atributo name para enviar el término de búsqueda -->
            <form class="d-flex" action="/buscar-recetas" method="GET">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
                name="query" 
              />
              <button class="btn btn-outline-success me-3" type="submit">
                Buscar
              </button>
              <a class="btn btn-outline-success" href="/logout">CerrarSesion</a>
            </form>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/logo1.jpeg" class="d-block img-fluid" alt="image1" />
          </div>
          <div class="carousel-item">
            <img
              src="img/niñosArcoirisConin.jpeg"
              class="d-block img-fluid"
              alt="image2"
            />
          </div>
          <div class="carousel-item">
            <img
              src="img/imagenCarrusel.webp"
              class="d-block img-fluid"
              alt="image3"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">
        <h1 class="titulo">Recetas Saludables</h1>

        <!--Aca las estaticas-->
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <a
              href="#"
              class="card-link"
              data-bs-titulo="Título de la Receta"
              data-bs-imagen="img/image1.webp"
              data-bs-descripcion="Como preparar las galletas perfecta."
              data-bs-ingredientes="Para 25 unidades:<br>
              Puré o compota de manzana sin azúcar - 240 g<br>
              Copos de avena finos ...................80 g<br>
              Almendras crudas laminadas .............40 g<br>
              Almendras molidas 1 cucharadita<br>
              Sal 1 oizca"
              data-bs-instrucciones="Instrucciones de preparación de la receta."
            >
              <div class="card h-100">
                <img
                  src="img/image1.webp"
                  class="card-img-top"
                  alt="img1"
                />
                <div class="card-body">
                  <h5 class="card-title">Galletas de avena y manzana</h5>
                  <p class="card-text">
                    Como preparar las galletas perfecta.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a
              href="#"
              class="card-link"
              data-bs-titulo="Título de la Receta"
              data-bs-imagen="img/torrijas_keto_sanas_3d0c9803d1.webp"
              data-bs-descripcion="Descripción de la receta."
              data-bs-ingredientes="Ingredientes de la receta."
              data-bs-instrucciones="Instrucciones de preparación de la receta."
            >
              <div class="card h-100">
                <img
                  src="img/torrijas_keto_sanas_3d0c9803d1.webp"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a short card.</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a 
              href="#"
              class="card-link"
              data-bs-titulo="Título de la Receta"
              data-bs-imagen="img/guisos_alubias_blancas_espinacas_fea0b36b23.webp"
              data-bs-descripcion="Descripción de la receta."
              data-bs-ingredientes="Ingredientes de la receta."
              data-bs-instrucciones="Instrucciones de preparación de la receta."
            >
              <div class="card h-100">
                <img
                  src="img/guisos_alubias_blancas_espinacas_fea0b36b23.webp"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a longer card with supporting text below as a
                    natural lead-in to additional content.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a 
              href="#"
              class="card-link"
              data-bs-titulo="Título de la Receta"
              data-bs-imagen="img/pollo_asado_platanos_verdes_82653d9b00.webp"
              data-bs-descripcion="Descripción de la receta."
              data-bs-ingredientes="Ingredientes de la receta."
              data-bs-instrucciones="Instrucciones de preparación de la receta."
            >
              <div class="card h-100">
                <img
                  src="img/pollo_asado_platanos_verdes_82653d9b00.webp"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a longer card with supporting text below as a
                    natural lead-in to additional content. This content is a
                    little bit longer.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a 
            href="#"
            class="card-link"
            data-bs-titulo="Título de la Receta"
            data-bs-imagen="img/ensalada_fria_almidon_resistente_saludable_db23319ea0.webp"
            data-bs-descripcion="Descripción de la receta."
            data-bs-ingredientes="Ingredientes de la receta."
            data-bs-instrucciones="Instrucciones de preparación de la receta."
            >
              <div class="card h-100">
                <img
                  src="img/ensalada_fria_almidon_resistente_saludable_db23319ea0.webp"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a longer card with supporting text below as a
                    natural lead-in to additional content. This content is a
                    little bit longer.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a
              href="#"
              class="card-link"
              data-bs-titulo="Título de la Receta"
              data-bs-imagen="img/huevo_3_formas_de_hacerlo_80a98b58b1.webp"
              data-bs-descripcion="Descripción de la receta."
              data-bs-ingredientes="Ingredientes de la receta."
              data-bs-instrucciones="Instrucciones de preparación de la receta."
            >
              <div class="card h-100">
                <img
                  src="img/huevo_3_formas_de_hacerlo_80a98b58b1.webp"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a longer card with supporting text below as a
                    natural lead-in to additional content. This content is a
                    little bit longer.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a 
              href="#"
              class="card-link"
              data-bs-titulo="Título de la Receta"
              data-bs-imagen="img/PIZZA_DE_PISTO_verduras_22cb2d0904.webp"
              data-bs-descripcion="Descripción de la receta."
              data-bs-ingredientes="Ingredientes de la receta."
              data-bs-instrucciones="Instrucciones de preparación de la receta."
            >
              <div class="card h-100">
                <img
                  src="img/PIZZA_DE_PISTO_verduras_22cb2d0904.webp"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a longer card with supporting text below as a
                    natural lead-in to additional content. This content is a
                    little bit longer.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a 
              href="#"
              class="card-link"
              data-bs-titulo="Título de la Receta"
              data-bs-imagen="img/espirales_sin_gluten_saludables_cocina_sana_ee6aab0d2f.webp"
              data-bs-descripcion="Descripción de la receta."
              data-bs-ingredientes="Ingredientes de la receta."
              data-bs-instrucciones="Instrucciones de preparación de la receta."
            >
              <div class="card h-100">
                <img
                  src="img/espirales_sin_gluten_saludables_cocina_sana_ee6aab0d2f.webp"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a longer card with supporting text below as a
                    natural lead-in to additional content. This content is a
                    little bit longer.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a 
              href="#"
              class="card-link"
              data-bs-titulo="Título de la Receta"
              data-bs-imagen="img/polos_de_gazpacho_nutritivo_6f1415d105.webp"
              data-bs-descripcion="Descripción de la receta."
              data-bs-ingredientes="Ingredientes de la receta."
              data-bs-instrucciones="Instrucciones de preparación de la receta."
            >
              <div class="card h-100">
                <img
                  src="img/polos_de_gazpacho_nutritivo_6f1415d105.webp"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a longer card with supporting text below as a
                    natural lead-in to additional content. This content is a
                    little bit longer.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a 
              href="#"
              class="card-link"
              data-bs-titulo="Título de la Receta"
              data-bs-imagen="img/torrijas_keto_sanas_3d0c9803d1.webp"
              data-bs-descripcion="Descripción de la receta."
              data-bs-ingredientes="Ingredientes de la receta."
              data-bs-instrucciones="Instrucciones de preparación de la receta."
            >
              <div class="card h-100">
                <img
                  src="img/torrijas_keto_sanas_3d0c9803d1.webp"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a longer card with supporting text below as a
                    natural lead-in to additional content. This content is a
                    little bit longer.
                  </p>
                </div>
              </div>
            </a>
          </div>

           <!-- Loop para mostrar las recetas dinámicas -->
            
              <% recetas.forEach(function(receta) { %>
                <div class="col">
                  <a
                    href="#"
                    class="card-link"
                    data-bs-receta-id="<%= receta.idRecetas %>"
                    data-bs-titulo="<%= receta.nombre %>"
                    data-bs-imagen="/img/img-form/<%= receta.imagen %>"
                    data-bs-descripcion="<%= receta.descripcion %>"
                    data-bs-ingredientes="<%= receta.ingredientes %>"
                    data-bs-instrucciones="<%= receta.instrucciones %>"
                  >
                    <div class="card h-100">
                      <img
                        src="/img/img-form/<%= receta.imagen %>"
                        class="card-img-top"
                        alt="<%= receta.nombre %>"
                      />
                      <div class="card-body">
                        <h5 class="card-title"><%= receta.nombre %></h5>
                        <p class="card-text"><%= receta.descripcion %></p>
                      </div>
                    </div>
                  </a>
                </div>
              <% }); %>
           
        </div>
      </div>

      <hr class="featurette-divider" />
      <!-- FOOTER -->
      <footer class="containerFooter">
        <div class="social">
          <a href="https://www.facebook.com/familiaconin.cdg"
            ><i class="bi bi-facebook"></i
          ></a>
          <a href="ninezconesperanza@gmail.com"
            ><i class="bi bi-envelope-at"></i
          ></a>
        </div>
        <p>&copy; 2023 - Fundación Conin &middot;</p>
      </footer>
    </main>



    <!-- Modal reutilizable -->
    <div
      class="modal fade"
      id="recetaModal"
      tabindex="-1"
      aria-labelledby="recetaModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalRecetaTitulo"></h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img src="" id="modalRecetaImagen" class="img-fluid" alt="Receta" />
            <p id="modalRecetaDescripcion"></p>
            <p id="modalRecetaIngredientes"></p>
            <p id="modalRecetaInstrucciones"></p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-success"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>

</div>
</div>

    <!-- <script src="js/agregarReceta.js" ></script> -->
    <script src="js/modalDetalleRecetas.js"></script>
    <script src="js/cdn.jsdelivr.net_npm_bootstrap@5.1.3_dist_js_bootstrap.bundle.min.js"></script>
    
  </body>
</html>
