<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Index</title>

    <!-- Bootstrap core CSS -->
    <link
      href="css/cdn.jsdelivr.net_npm_bootstrap@5.1.3_dist_css_bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link href="css/carousel.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
    
  </head>
  <body>
    <header>
      
      <%- include('header.ejs') %>
      
    </header>
    <!-- CARRUSEL, 3 FOTOS -->
    <main>
      <div id="carouselExample" class="carousel slide container-carrusel" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/logoConin.jpeg" class="d-block w-100" alt="image1" />
          </div>
          <div class="carousel-item">
            <img
              src="img/carrusel/imagenCarrusel4.jpeg"
              class="d-block w-100"
              alt="image2"
            />
          </div>
          <div class="carousel-item">
            <img
              src="img/carrusel/imagenCarrusel1.jpeg"
              class="d-block w-100"
              alt="image3"
            />
          </div>
          <div class="carousel-item">
            <img
              src="img/carrusel/imagenCarrusel2.jpeg"
              class="d-block w-100"
              alt="image3"
            />
          </div>
          <div class="carousel-item">
            <img
              src="img/carrusel/imagenCarrusel3.jpeg"
              class="d-block w-100"
              alt="image3"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- ================================================== -->
      <!--CARDS DINAMICAS DE LA BASE DE DATOS -->

      <div class="container marketing">
        <h1 class="titulo">Recetas Saludables</h1>

        <div class="row row-cols-1 row-cols-md-3 g-4">
          
          <!--Aca las dinamicas trayendolas desde la base de datos-->
          <% recetasDB.forEach(function(receta) { %>
            <div class="col">
                <a
                  href="#"
                  class="card-link"
                  data-bs-receta-id="<%= receta.idDB %>"
                  data-bs-titulo="<%= receta.nombre %>"
                  data-bs-imagen="<%= receta.imagen_url %>"
                  data-bs-descripcion="<%= receta.tipo_receta %>"
                  data-bs-dificultad="<%= receta.dificultad_receta %>"
                  data-bs-tiempo="<%= receta.tiempo_coccion %>"
                  data-bs-ingredientes="<%= receta.ingredientes %>"
                  data-bs-instrucciones="<%= receta.instrucciones %>"
                  data-origin="base-de-datos"
                >
                  <div class="card h-100">
                    <img
                      src="<%= receta.imagen_url %>"
                      class="card-img-top"
                      alt="<%= receta.nombre %>"
                    />
                    <div class="card-body">
                      <h5 class="card-title"><%= receta.nombre %></h5>
                      <p class="card-text"><%= receta.tipo_receta %></p>
                    </div>
                </a>   
                <% if(user && user.rol === "admin") { %>
                    <button
                      class="btn btn-outline-danger eliminar-receta"
                      data-receta-id="<%= receta.idDB %>"
                      data-tabla="recetas_base_datos"
                    >
                      Eliminar Recetas
                    </button>
                    <button
                        class="btn btn-outline-primary modificar-receta"
                        data-bs-receta-id="<%= receta.idDB %>"
                        data-bs-tabla="recetas_base_datos"
                        data-bs-toggle="modal"
                        data-bs-target="#modalModificarReceta"
                        data-bs-titulo="<%= receta.nombre %>"
                        data-bs-descripcion="<%= receta.tipo_receta %>"
                        data-bs-dificultad="<%= receta.dificultad_receta %>"
                        data-bs-tiempo="<%= receta.tiempo_coccion %>"
                        data-bs-ingredientes="<%= receta.ingredientes %>"
                        data-bs-instrucciones="<%= receta.instrucciones %>"
                        data-bs-imagen="<%= receta.imagen_url %>"
                      >
                        Modificar Receta
                    </button>
                <% } %>    
                  </div>
            </div>
          <% }); %>

           <!-- Loop para mostrar las recetas dinámicas agregadas desde el formulario -->
              <% recetasFormulario.forEach(function(receta) { %>
                <div class="col">
                    <a
                      href="#"
                      class="card-link"
                      data-bs-receta-id="<%= receta.idRecetas %>"
                      data-bs-titulo="<%= receta.nombre %>"
                      data-bs-imagen="/img/img-form/<%= receta.imagen %>"
                      data-bs-descripcion="<%= receta.tipo_receta %>"
                      data-bs-dificultad="<%= receta.dificultad_receta %>"
                      data-bs-tiempo="<%= receta.tiempo_coccion %>"
                      data-bs-ingredientes="<%= receta.ingredientes %>"
                      data-bs-instrucciones="<%= receta.instrucciones %>"
                      data-origin="formulario"
                    >
                      <div class="card h-100">
                        <img
                          src="/img/img-form/<%= receta.imagen %>"
                          class="card-img-top"
                          alt="<%= receta.nombre %>"
                        />
                        <div class="card-body">
                          <h5 class="card-title"><%= receta.nombre %></h5>
                          <p class="card-text"><%= receta.tipo_receta %></p>
                        </div>
                    </a>  
                    <% if(user && user.rol === "admin") { %>
                        <button
                          class="btn btn-outline-danger eliminar-receta"
                          data-receta-id="<%= receta.idRecetas %>"
                          data-tabla="recetas"
                        >
                          Eliminar Recetas
                        </button>
                        <button
                            class="btn btn-outline-primary modificar-receta"
                            data-bs-receta-id="<%= receta.idRecetas %>"
                            data-bs-tabla="recetas"
                            data-bs-toggle="modal"
                            data-bs-target="#modalModificarReceta"
                            data-bs-titulo="<%= receta.nombre %>"
                            data-bs-descripcion="<%= receta.tipo_receta %>"
                            data-bs-dificultad="<%= receta.dificultad_receta %>"
                            data-bs-tiempo="<%= receta.tiempo_coccion %>"
                            data-bs-ingredientes="<%= receta.ingredientes %>"
                            data-bs-instrucciones="<%= receta.instrucciones %>"
                            data-bs-imagen="<%= receta.imagen %>"
                          >
                            Modificar Receta
                         </button>
                        <% } %>
                      </div>
                </div>

              <% }); %>
           
        </div>
      </div>

      <hr class="featurette-divider" />
      <!-- FOOTER -->
      <%- include('footer.ejs') %>
    </main>
    
    <!-- Modal para modificar recetas -->
    <div class="modal fade" id="modalModificarReceta" tabindex="-1" aria-labelledby="modalModificarRecetaLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalModificarRecetaLabel">Modificar Receta</h5>
            <a href="/"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></a>
          </div>
          <div class="modal-body">
            <form id="formModificarReceta" enctype="multipart/form-data">
              <!-- Agrega campos del formulario para modificar los datos de la receta -->
              <!-- Nombre de la Receta -->
              <div class="mb-3">
                <label for="nombre" class="form-label">Nombre de la Receta:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>

            <!-- Tipo de Receta -->
            <div class="mb-3">
                <label for="tipo_receta" class="form-label">Tipo de Receta:</label>
                <input type="text" class="form-control" id="tipo_receta" name="tipo_receta" required>
            </div>

            <!-- Dificultad de la Receta -->
            <div class="mb-3">
                <label for="dificultad_receta" class="form-label">Dificultad de la Receta:</label>
                <input type="text" class="form-control" id="dificultad_receta" name="dificultad_receta" required>
            </div>

            <!-- Tiempo de Coccion -->
            <div class="mb-3">
                <label for="tiempo_coccion" class="form-label">Tiempo de Coccion:</label>
                <input type="text" class="form-control" id="tiempo_coccion" name="tiempo_coccion" required>
            </div>

            <!-- Ingredientes -->
            <div class="mb-3">
                <label for="ingredientes" class="form-label">Ingredientes:</label>
                <textarea class="form-control" id="ingredientes" name="ingredientes" rows="4"></textarea>
            </div>

            <!-- Instrucciones -->
            <div class="mb-3">
                <label for="instrucciones" class="form-label">Instrucciones:</label>
                <textarea class="form-control" id="instrucciones" name="instrucciones" rows="4"></textarea>
            </div>

            <div class="mb-3">
              <label for="imagen" class="form-label">Imagen de la Receta:</label>
              <input type="file" class="form-control" id="imagen" name="imagen" accept="image/*">
            </div>

            <div class="mb-3 text-center">
              <a href="/" class="btn btn-secondary">Cancelar</a>
              <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </div>
            
            </form>
          </div>
        </div>
      </div>
    </div>


    <!-- Modal reutilizable -->
    <div
      class="modal fade"
      id="recetaModal"
      tabindex="-1"
      aria-labelledby="recetaModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalRecetaTitulo"></h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img src="" id="modalRecetaImagen" class="img-fluid" alt="Receta" />
            <p id="modalRecetaTipoReceta"></p>
            <p id="modalRecetaDificultadReceta"></p>
            <p id="modalRecetaTiempoCoccion"></p>
            <p id="modalRecetaIngredientes"></p>
            <p id="modalRecetaInstrucciones"></p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-success"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>

</div>
</div>

   
    <script src="js/cdn.jsdelivr.net_npm_bootstrap@5.1.3_dist_js_bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/modalDetalleRecetas.js"></script>
    <script src="js/busquedaRecetas.js"></script>
    <script src="js/eliminarRecetas.js"></script>
    <script src="js/modificarRecetas.js"></script>
    
    
  </body>
</html>
